<nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
  <div class="flex lg:flex-1">
    <a href="#" class="-m-1.5 p-1.5">
      <span class="sr-only">Your Company</span>
    </a>
  </div>
  <div class="flex lg:hidden">
    <button
      type="button"
      class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
    >
      <span class="">Loretta</span>
    </button>
  </div>
  <div class="hidden lg:flex lg:gap-x-12">
    <a
      href="/index.html"
      class="text-sm/6 font-semibold text-gray-900"
      >Accueil</a
    >
    <a href="#" class="text-sm/6 font-semibold text-gray-900">Catégories</a>
    <a href="#" class="text-sm/6 font-semibold text-gray-900"
      >Types de produits</a
    >
  </div>
  <div class="hidden lg:flex lg:flex-1 lg:justify-end">
    <a
      href="/src/pages/login.html"
      class="text-sm/6 font-semibold text-gray-900"
      >Se connecter<span aria-hidden="true">&rarr;</span></a
    >
    <a
      href="/src/pages/panel.html"
      class="ml-4 text-sm/6 font-semibold text-gray-900"
      >Panier<span aria-hidden="true"></span
    ></a>
  </div>
</nav>
